@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
	src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}

