/* Landscape - телефоны */
@media screen and (min-width: 320px) and (max-width: 768px) {
	.header__logo {
		margin-right: 80px !important;
	}
	.header__top {
	width: 100%;
	display: flex;
	flex-direction: column;
	}
	.header__menu {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 80px;
		font-size: 36px !important;
		line-height: 48px;
		font-weight: 700;
	}
	.header__menu ul>li {
		display: list-item;
	}
	.header__menu li + li {
		margin-left: 0 !important;
		margin-top: 30px;
	}
	.header__text {
		margin-top: 200px!important;
		font-size: 100px!important;
	}
}

@media screen and (min-width: 560px) and (max-width: 768px) {
	.header__text {
		font-size: 130px!important;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
	.header__text {
		font-size: 130px!important;
	}
}

